[package]
name = "connect"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.42"
getopts = "0.2.24"


# chrono = "0.4.37"
# getopts = "0.2.21"
